.message {

}

.imageAndText {
    display: grid;
    grid-template-columns: repeat(19,1fr);
    align-items: center;
    justify-items: center;
}

.imageAndText img {
max-width: 100%;

}

.text {




}

.text:after {

}

.name {
    font-size: 20px;


}

.messageText {
    font-size: 15px;
    background-color: beige;

}

.time {
    padding-left: 30px;


}