.item {
    border-bottom: 1px solid #E5E5E5;
}

.item:last-of-type {
    border-bottom: none;
}

.users {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}

.buttonsContainer {
    display: flex;
    gap: 12px;
    margin-bottom: 18px;
    justify-content: end;
}

.container {
    width: 606px;
}

.thead {
    background-color: #E5E5E5;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
}

.nameCol {
    padding: 12px 0 12px 17px;
}

.ageCol {
}