.button {
}

.disabled {
}

.secondary {
}

.default {
    color: #00cc22;
}

.red {
    color: red;
}

.default:hover {
}

.red:hover {
}

.secondary:hover {
}


.default:active {
}

.secondary:active {
}

.red:active {
}

.button:disabled {
    background-color: red;
}
